[submodule "modules/sling-bookface"]
	path = modules/sling-bookface
	url = https://github.com/xfunctions/sling-bookface
[submodule "parent"]
	path = parent
	url = https://github.com/xfunctions/parent
[submodule "sling-platform"]
	path = sling-platform
	url = https://github.com/xfunctions/sling-platform
